
<nav>
    <ul>
        <li><a routerLink="/login" routerLinkActive="active" >Login</a></li>
        <li><a routerLink="/playlist" routerLinkActive="active">playlist</a></li>
        <li><a routerLink="/register" routerLinkActive="active">register</a></li>
        <li><a routerLink="/matche" routerLinkActive="active">matche</a></li>

    </ul>


  <div class="notification-wrapper">
    <span class="notification-icon" (click)="toggleNotifications()">
      🔔
      <span *ngIf="receivedMessage" class="notification-count">1</span>
    </span>

    <ul *ngIf="showNotifications" class="notification-dropdown">
      <li>{{ receivedMessage }}</li>
    </ul>
  </div>
</nav>
